@model LoadDist.Models.DataModels.SyllabusContent

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить этот элемент?</h3>
<div>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
