@model LoadDist.Models.DataModels.Group

@{
    ViewBag.Title = "Удаление группы";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить эту группу?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.GroupNumber)</h4>
    <hr />


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
