@model LoadDist.Models.DataModels.CourseWork

@{
    ViewBag.Title = "Удаление курсовой работы";
}

<h2>Удаление</h2>

<h3>вы уверены, что хотите удалить эту курсовую работу?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
