@model IEnumerable<LoadDist.Models.DataModels.Group>

<p>
    @Html.ActionLink("Добавить", "AddGroup", new { id = ViewData["id"]}, null)
</p>
<table class="table">
    <tr>
        <th>
           Номер группы
        </th>
        <th>
            Количество студентов
        </th>
        <th>
            Количество подгрупп
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubgroupsCount)
        </td>
    </tr>
}
</table>
