@using LoadDist.Models.DataModels
@model LoadDist.Models.DataModels.Stream

@{
    ViewBag.Title = "Поток";
}

<div>
    <h4>Поток</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название потока
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
    @{
        List<Group> groups = Model.Groups;
        Html.RenderPartial("_Groups", groups, new ViewDataDictionary { { "id", Model.Id } });
     }
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
