@model IEnumerable<LoadDist.Models.DataModels.Subject>

<p>
    @Html.ActionLink("Добавить предмет", "AddSubject", "Lecturers", new { id = ViewData["id"]}, null)
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
