@model LoadDist.Models.DataModels.Lecturer

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить этого преподавателя?</h3>
<div>
    <h4>
    @string.Format($"{Model.Surname} {Model.Name} {Model.Patronymic}")</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
