@model LoadDist.Models.DataModels.Lecturer

@{
    ViewBag.Title = "Преподаватель";
}

<div class="details-container">
    <h4 class="details-title">Преподаватель: </h4>
    <h2 class="details-name">@string.Format($"{Model.Surname} {Model.Name} {Model.Patronymic}")</h2>
    
    <h4>Предметы:</h4>
    @Html.Partial("_SubjectsPartial", Model.Subjects, new ViewDataDictionary { { "id", Model.Id } })
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
