@model LoadDist.Models.DataModels.Load

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить нагрузку</h2>

<h3>Вы уверены,что хотите удалить эту нагрузку?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
