@model LoadDist.Models.DataModels.Subject

@{
    ViewBag.Title = "Предмет";
}

<div class="details-container">
    <h4 class="details-title">Предмет: </h4>
    <h2 class="details-name">
        @Html.DisplayFor(model => model.Name)
    </h2>
    <h4>Преподаватели:</h4>
    <dl class="dl-horizontal">
        @Html.Partial("_LecturersPartial", Model.Lecturers)
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
