@model LoadDist.Models.DataModels.Syllabus

@{
    ViewBag.Title = "Удалениие учебного плана";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить этот учебный план?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
