@using LoadDist.Models.DataModels
@model LoadDist.Models.DataModels.Syllabus

@{
    ViewBag.Title = "Details";
}

<h2>Учебный план</h2>

<div>
    <h4>@string.Format($"Специальность: {Model.Specialty.Name}")</h4>
    <h4>@string.Format($"Год набора: {Model.AdmissionYear}")</h4>
    <h4>Содержание плана:</h4>
    @{
        List<SyllabusContent> syllabusContents = ViewBag.SyllabusContents;
        Html.RenderPartial("_SyllabusContents", syllabusContents, new ViewDataDictionary { { "id", Model.Id } });
    } 
</div>
<p>
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
